.second-page{
  width: 100%;
  height: 100%;

  &__header{

    &__logo{
      position: absolute;
      top: 0;
      right: 0;
      margin: 10px;
      width: 50%;
    }
    &__link{
      position: absolute;
      top: 0;
      left: 0;
      margin: 10px;
    }
  }

  &__content{

  }
  &__text{
    background-color: #fff;
    padding: 20px;
    margin-top: 80px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    
    p{
      color: #ccc;
      font-size: .8rem;
    }
    h2{
      font-size: .8rem;
    }
  }
}
.dividi-cose{
  border-bottom: 1px solid #ccc;
  display: block;
}


.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */